<div class="login-screen">
  <h1 class="title">Pokédex Lite</h1>
  <div class="login-container">
    <h2 class="welcome">Welcome!</h2>
    <form
      class="form"
      action=""
      method="post"
      [formGroup]="formGroup"
      (ngSubmit)="login()"
    >
      <div class="login-form">
        <label class="visually-hidden" for="username">Username</label>
        <input
          id="username"
          type="text"
          placeholder="Username"
          formControlName="username"
        />
        <label class="visually-hidden" for="password">Password</label>
        <input
          id="password"
          type="password"
          placeholder="Password"
          formControlName="password"
        />
      </div>
      <button class="login-button" type="submit">
        Login<img
          class="login-arrow-icon"
          src="../../assets/icons/arrow-right.svg"
          alt="arrow pointing right"
        />
      </button>
    </form>
  </div>
</div>
