@use "../../../../scss/utils/" as *;

* {
  font-family: "Nunito", sans-serif !important;
}

input {
  display: flex;
  border: 1px solid hsl(0, 0%, 85%);
  background-color: hsl(0, 0%, 95%);
  border-radius: rem(8);
  padding: rem(4);
  margin-bottom: rem(4);
}

.add__container {
  // Flex
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: rem(70);
  padding: rem(16) rem(32);
  border-radius: rem(25);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  // Properties
  background-color: white;
  @include for-size(phone-only) {
    width: 70vw;
    height: 65vh;
  }
  @include for-size(tablet-portrait-up) {
    width: rem(360);
    height: 65vh;
  }
  @include for-size(desktop-up) {
    width: 25vw;
    height: 65vh;
  }
  @include for-size(big-desktop-up) {
    margin-top: rem(16);
    width: 30vw;
    height: 65vh;
  }
  transition: all 0.3s ease-in-out;
  .add__title {
    align-self: flex-start;
    font-weight: 900;
    margin: 0;
  }
  .add__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    @include for-size(phone-only) {
      width: 65vw;
    }
    @include for-size(tablet-portrait-up) {
      width: rem(320);
    }
    @include for-size(desktop-up) {
      width: 25vw;
    }
    @include for-size(big-desktop-up) {
      width: 25vw;
    }
    .add__top-row {
      display: grid;
      grid-template-columns: rem(80) rem(140) rem(50);
      .add__name {
        width: rem(140);
      }
    }
    .add__image {
      display: flex;
      flex-direction: column;
      width: rem(270);
      background-color: white;
      border: 1px solid hsl(0, 0%, 85%);
      border-radius: rem(8);
      .add__imgUrl {
        background-color: white;
        border: none;
        width: rem(260);
      }
      .add__display-image {
        align-self: center;
        height: 100%;
        width: rem(128);
      }
    }
    .add__bottom-row {
      display: flex;
      flex-direction: row;
      .add__abilities {
        input {
          width: rem(200);
        }
      }
      .add__evolutions {
        input {
          width: rem(70);
        }
      }
    }
  }
  .add__buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin-top: rem(8);
    .add__back-btn,
    .add__save-btn {
      padding: rem(4) rem(16);
      border-radius: rem(8);
    }
    .add__back-btn {
      border: 1px solid hsl(0, 0%, 85%);
      &:hover {
        background-color: hsl(0, 0%, 85%);
        transform: scale(0.98, 0.98);
      }
    }
    .add__register-btn {
      border: none;
      background-color: var(--pkmn-red);
      color: var(--off-white);
      &:hover {
        background-color: hsl(0, 55%, 30%);
        transform: scale(0.98, 0.98);
      }
    }
  }
}
