@use "../scss/utils/" as *;

* {
  font-family: "Nunito", sans-serif !important;
}

.app-screen {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  //Red wave background
  @include for-size(phone-only) {
    background-position: 20% 130%;
  }
  @include for-size(tablet-portrait-up) {
    background-position: 30% 100%;
  }
  @include for-size(big-desktop-up) {
    background-position-y: 80%;
  }
  background-color: var(--off-white);
  background-image: url("../assets/bg.svg");
  background-size: cover;
  background-position: 0% 70%;
  background-repeat: repeat-x;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  .title {
    // Font properties
    font-weight: 900;
    margin-bottom: 0;
    color: var(--off-white);
    // Font sizes
    @include for-size(phone-only) {
      font-size: rem(36);
    }
    @include for-size(tablet-portrait-up) {
      font-size: rem(42);
    }
    @include for-size(desktop-up) {
      font-size: rem(48);
    }
    @include for-size(big-desktop-up) {
      font-size: rem(72);
    }
    // Position
    margin-top: 10vh;
    transition: all 0.3s ease-in-out;
  }
}
