@use "../../../../scss/utils/" as *;

.login-container {
  // Flex
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: rem(25);
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
  // Properties
  margin-top: rem(50);
  background-color: white;
  @include for-size(phone-only) {
    width: 290px;
    height: 350px;
  }
  @include for-size(tablet-portrait-up) {
    width: 330px;
    height: 400px;
  }
  @include for-size(desktop-up) {
    width: 340px;
    height: 420px;
  }
  @include for-size(big-desktop-up) {
    margin-top: rem(96);
    width: 600px;
    height: 650px;
  }
  transition: all 0.3s ease-in-out;
  .welcome {
    margin-top: rem(64);
    margin-bottom: 0;
    // Font Properties
    font-weight: 700;
    // Font sizes
    font-size: rem(32);
    @include for-size(phone-only) {
      font-size: rem(30);
    }
    @include for-size(big-desktop-up) {
      font-size: rem(48);
      margin-top: rem(96);
    }
    transition: all 0.2s ease-in-out;
  }
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    .login-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: rem(16);
      border-radius: rem(20);
      padding: rem(24);
      margin-top: rem(32);
      width: rem(140);
      overflow: hidden;
      background-color: var(--off-white);
      transition: all 0.2s ease-in-out;
      @include for-size(phone-only) {
        padding: rem(24) rem(32);
      }
      @include for-size(tablet-portrait-up) {
        gap: rem(18);
        padding: rem(24);
        margin-top: rem(48);
        width: rem(180);
      }
      @include for-size(desktop-up) {
        gap: rem(20);
        padding: rem(24);
        width: rem(210);
      }
      @include for-size(big-desktop-up) {
        gap: rem(32);
        margin-top: rem(96);
        padding: rem(32);
        width: rem(300);
      }
      #username,
      #password {
        font-weight: 600;
        border-radius: rem(8);
        background-color: white;
        border: 2px solid var(--dark-gray);
        text-align: center;
        padding: rem(4) 0;
        @include for-size(desktop-up) {
          padding: rem(6) 0;
        }
        @include for-size(big-desktop-up) {
          padding: rem(8) rem(12);
          font-size: rem(24);
        }
        &:focus::placeholder {
          color: transparent;
        }
        &:focus {
          outline: none;
        }
      }
    }
    .login-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      border: none;
      border-radius: rem(5);
      background-color: var(--pkmn-red);
      color: var(--off-white);
      font-weight: 800;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      @include for-size(phone-only) {
        font-size: rem(16);
        padding: rem(8) rem(8) rem(8) rem(16);
        margin-top: rem(24);
      }
      @include for-size(tablet-portrait-up) {
        font-size: rem(18);
        padding: rem(10) rem(12);
        padding-right: rem(8);
        margin-top: rem(32);
      }
      @include for-size(desktop-up) {
        padding: rem(12);
        padding-right: rem(8);
        margin-top: rem(32);
      }
      @include for-size(big-desktop-up) {
        font-size: rem(24);
        padding: rem(16) rem(40);
        margin-top: rem(48);
      }
      &:hover {
        transform: scale(0.99, 0.99);
        background-color: hsl(0, 55%, 45%);
      }
      .login-arrow-icon {
        height: rem(24);
        width: rem(24);
        @include for-size(phone-only) {
          margin-left: rem(0);
        }
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
